body {
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
    font-style: oblique
}
hr {
    height: 4px;
    border: none;
    background-color: goldenrod;
}
ul{
    list-style-type: square
}
ol{
    list-style-type: upper-roman
}
#id{
    background-color: aqua;
}